/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
.rc_calbox table {
  width: 100%;
  border-collapse: collapse;
}
.rc_calbox th {
  border: 1px solid #CCC;
}
.rc_calbox td {
  height: 80px;
  position: relative;
  vertical-align: top;
  border: 1px solid #CCC;
  padding: 4px;
}
.rc_calbox td input {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
}
.rc_calbox .rc_addbtn {
  display: block;
  width: 100%;
  background: #DDD;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  color: #000;
  margin-top: 2px;
}
.rc_calbox .rc_addbtn:hover {
  background: #AAA;
}
