/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.rc-calbox table {
  width: 100%;
  border-collapse: collapse;
}
.rc-calbox th {
  border: 1px solid #CCC;
  width: 14.2857142857%;
}
.rc-calbox td {
  height: 80px;
  position: relative;
  vertical-align: top;
  border: 1px solid #CCC;
  padding: 4px;
  width: 14.2857142857%;
}
.rc-calbox td span {
  display: block;
  margin-bottom: 4px;
}
.rc-calbox td input {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
}
.rc-calbox td select {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}
.rc-calbox .rc-addbtn {
  display: block;
  width: 100%;
  background: #DDD;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  color: #000;
  margin-top: 2px;
}
.rc-calbox .rc-addbtn:hover {
  background: #AAA;
}

.rc-calbox__header {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rc-calbox__header label {
  display: inline-block;
  margin-bottom: 8px;
}

.rc-calbox__ttl {
  font-size: 24px !important;
  padding-left: 0 !important;
}

.rc-cal__inputwrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9000;
}

.rc-event__btn {
  display: block;
  cursor: pointer;
  padding: 0 0 4px;
}
.rc-event__btn:hover {
  text-decoration: underline;
}

.rc-modal__wrap {
  padding: 16px;
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
}

.rc-modal__ttl {
  font-size: 24px;
  font-weight: bold;
  margin: 0.8rem 0;
}

.rc-modal__inner {
  border-collapse: collapse;
  width: 100%;
}
.rc-modal__inner th {
  border: 1px solid #CCC;
  padding: 0.8rem 1.6rem;
  background: #EEE;
  font-weight: bold;
}
.rc-modal__inner td {
  border: 1px solid #CCC;
  padding: 0.8rem 1.6rem;
}
.rc-modal__inner td input {
  width: 100%;
}

.rc-modal__close {
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  right: 2px;
  top: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  cursor: pointer;
}
.rc-modal__close:hover {
  background: #333;
}
.rc-modal__close::after, .rc-modal__close::before {
  width: 20px;
  height: 1px;
  background: #FFF;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.rc-modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.rc-modal__submit {
  padding: 2.4rem 0;
  text-align: center;
}
.rc-modal__submit input {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #CCC;
  cursor: pointer;
}
.rc-modal__submit input:hover {
  background: #FFF;
}

.rc-modal__delete {
  cursor: pointer;
}
.rc-modal__delete:hover {
  text-decoration: underline;
}

/*-----------------------------------------
一括選択
-----------------------------------------*/
.rc-all__controller {
  padding: 0 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rc-all__controller__btn {
  background: #2271b1;
  border-color: #2271b1;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.rc-all__controller__btn:hover {
  color: #FFF;
  background: #2060A0;
}
