/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
.rc_calbox table {
  width: 100%;
  border-collapse: collapse;
}
.rc_calbox th {
  border: 1px solid #CCC;
}
.rc_calbox td {
  height: 80px;
  position: relative;
  vertical-align: top;
  border: 1px solid #CCC;
  padding: 4px;
}
.rc_calbox td span {
  display: block;
}
.rc_calbox td input {
  display: inline-block;
  position: absolute;
  right: 4px;
  top: 4px;
}
.rc_calbox .rc_addbtn {
  display: block;
  width: 100%;
  background: #DDD;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  color: #000;
  margin-top: 2px;
}
.rc_calbox .rc_addbtn:hover {
  background: #AAA;
}

.rc_cal__inputWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9000;
}
.rc_cal__inputWrap div {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
}

.rc_statelist {
  display: none;
}
