/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/style.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.rc-calendar__table {
  width: 100%;
}
.rc-calendar__table th, .rc-calendar__table td {
  padding: 0;
  width: 14.2857142857%;
  text-align: center;
  box-sizing: border-box;
}
.rc-calendar__table tr td:nth-child(n+4) .rc_cal_balloon {
  left: auto;
  right: 0;
}

.rc_cal_day--end {
  background-color: #DDD;
}

.rc_cal_balloon {
  display: none;
  cursor: pointer;
  position: absolute;
  background: #FFF;
  border: 1px solid #DDD;
  padding: 8px;
  font-size: 14px;
  bottom: 80%;
  left: 0;
  width: 180px;
  z-index: 100;
}
.rc_cal_balloon a, .rc_cal_balloon span {
  display: block;
  text-align: left;
  line-height: 1.2;
  padding-left: 1em;
  text-indent: -1em;
}
.rc_cal_balloon a::before, .rc_cal_balloon span::before {
  content: "ãƒ»";
}
.rc_cal_balloon a:not(:first-child), .rc_cal_balloon span:not(:first-child) {
  margin-top: 4px;
}

.rc_cal_btn--hasevent {
  cursor: pointer;
}
.rc_cal_btn--hasevent:hover {
  background-color: #AED5A9 !important;
}

.rc_cal_day_wrap {
  padding: 16px;
  position: relative;
}

.rc-calendar__label {
  display: none;
}

.rc-calendar__table {
  display: none;
}
.rc-calendar__table.is-current {
  display: table;
}

.rc-calendar__table--first {
  display: block;
}

.rc-calendar__btn.is-blank {
  opacity: 0.5;
  cursor: default;
  text-decoration: none;
}

.rc_cal_eventlist {
  margin-top: 16px !important;
  border-top: 1px solid #DDD;
  margin-right: 16px;
  margin-left: 16px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media screen and (max-width: 767px) {
  .rc_cal_eventlist {
    margin-right: 0;
    margin-left: 0;
  }
}

.rc_events_list {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-top: 0 !important;
}
@media screen and (max-width: 767px) {
  .rc_events_list {
    flex-direction: column;
    gap: 0;
  }
}

.rc_events_list_date {
  flex-basis: 80px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .rc_events_list_date {
    flex-basis: auto;
    margin-bottom: 16px;
  }
}

.rc_events_list_items {
  flex-grow: 1;
}
.rc_events_list_items > * {
  display: block;
}

.rc_cal_event_link {
  display: flex !important;
  align-items: flex-start;
  text-decoration: none;
  margin-bottom: 4px;
}
.rc_cal_event_link div {
  text-decoration: underline;
  line-height: 1.6;
}
.rc_cal_event_link.is-hover div {
  text-decoration: none;
}

.rc_cal_event_category {
  background-color: #666;
  color: #FFF;
  border-radius: 9999px;
  padding: 0 8px;
  display: inline-block;
  margin-right: 12px;
  font-size: 12px;
  white-space: nowrap;
}
