@charset 'utf-8';

.rc-calbox{
    table{
        width: 100%;
        border-collapse: collapse;
    }

    th{
        border: 1px solid #CCC;
        width: calc(100% / 7);
    }

    td{
        height: 80px;
        position: relative;
        vertical-align: top;
        border: 1px solid #CCC;
        padding: 4px;
        width: calc(100% / 7);

        span{
            display: block;
            margin-bottom: 4px;
        }

        input{
            display: inline-block;
            position: absolute;
            right: 4px;
            top: 4px;
        }
        
        select{
            display: block;
            width: 100%;
            margin-bottom: 4px;
        }
    }

    .rc-addbtn{
        display: block;
        width: 100%;
        background: #DDD;
        border: 1px solid #999;
        text-align: center;
        cursor: pointer;
        color: #000;
        margin-top: 2px;

        &:hover{
            background: #AAA;
        }
    }
}

.rc-calbox__header{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    label{
        display: inline-block;
        margin-bottom: 8px;
    }
}

.rc-calbox__ttl{
    font-size: 24px !important;
    padding-left: 0 !important;
}

.rc-cal__inputwrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 9000;
}

.rc-event__btn{
    display: block;
    cursor: pointer;
    padding: 0 0 4px;
    &:hover{
        text-decoration: underline;
    }
}

.rc-modal__wrap{
    padding: 16px;
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
}

.rc-modal__ttl{
    font-size: 24px;
    font-weight: bold;
    margin: .8rem 0;
}

.rc-modal__inner{
    border-collapse: collapse;
    width: 100%;

    th{
        border: 1px solid #CCC;
        padding: .8rem 1.6rem;
        background: #EEE;
        font-weight: bold;
    }
    td{
        border: 1px solid #CCC;
        padding: .8rem 1.6rem;
        
        input{
            width: 100%;
        }
    }
}

.rc-modal__close{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    right: 2px;
    top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    cursor: pointer;

    &:hover{
        background: #333;
    }

    &::after,&::before{
        width: 20px;
        height: 1px;
        background: #FFF;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::before{
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.rc-modal__submit{
    padding: 2.4rem 0;
    text-align: center;

    input{
        font-size: 16px;
        padding: 8px 16px;
        border-radius: 10px;
        border: 1px solid #CCC;
        cursor: pointer;

        &:hover{
            background: #FFF;
        }
    }
}

.rc-modal__delete{
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}


/*-----------------------------------------
一括選択
-----------------------------------------*/
.rc-all__controller{
    padding: 0 0 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.rc-all__controller__btn{
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        color: #FFF;
        background: #2060A0;
    }
}

input[type="checkbox"]{
    margin: 0;
    appearance: none;
}