@charset 'utf-8';

.rc_calbox{
    table{
        width: 100%;
        border-collapse: collapse;
    }

    th{
        border: 1px solid #CCC;
    }

    td{
        height: 80px;
        position: relative;
        vertical-align: top;
        border: 1px solid #CCC;
        padding: 4px;

        input{
            display: inline-block;
            position: absolute;
            right: 4px;
            top: 4px;
        }
    }

    .rc_addbtn{
        display: block;
        width: 100%;
        background: #DDD;
        border: 1px solid #999;
        text-align: center;
        cursor: pointer;
        color: #000;
        margin-top: 2px;

        &:hover{
            background: #AAA;
        }
    }
}

.rc_cal__inputWrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 9000;

    div{
        width: 50%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #FFF;
    }
}

.rc_statelist{
    height: 0;
    opacity: hidden;
}
