@charset 'utf-8';

.rc-calendar__table{
    width: 100%;
    
    th,td{
        padding: 0;
        width: calc(100% / 7);
        text-align: center;
        box-sizing: border-box;
    }

    tr{
        td{
            &:nth-child(n + 4){
                .rc_cal_balloon{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

.rc_cal_day{
    &--end{
        background-color: #DDD;
    }
}

.rc_cal_balloon{
    display: none;
    cursor: pointer;
    position: absolute;
    background: #FFF;
    border: 1px solid #DDD;
    padding: 8px;
    font-size: 14px;
    bottom: 80%;
    left: 0;
    width: fit-content;
    z-index: 100;

    a{
        display: block;
        text-align: left;
        white-space: nowrap;

        &::before{
            content: '・';
        }

        &:not(:first-child){
            margin-top: 4px;
        }
    }
}

.rc_cal_btn--hasevent{
    cursor: pointer;

    &:hover{
        background-color: #AED5A9 !important;
    }
}

.rc_cal_day_wrap{
    padding: 16px;
    position: relative;
}

.rc-calendar__label{
    display: none;
}

.rc-calendar__table{
    display: none;

    &.is-current{
        display: table;
    }
}

.rc-calendar__table--first{
    display: block;
}

.rc-calendar__btn{
    &.is-blank{
        opacity: .5;
        cursor: default;
        text-decoration: none;
    }
}